<% var player; var scoreResult; var game; var judge; var judge_name; var data; var game_name; var kokutai; %>
    <!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->

        <title>得点入力</title>
        <link rel="manifest" href="/public/manifest.json" crossorigin="use-credentials">
        <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
        <%- include('../share/stylesheet.ejs') %>
            <script type="text/javascript" src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
            <style>
                .check-score {
                    height: fit-content;
                    font-size: 1.5em;
                    background-color: #ced4da;
                    text-align: right;
                    width: 70%;
                }

                #send-btn:disabled {
                    background-color: #cccccc;
                }
            </style>
    </head>

    <body>
        <%- include("../share/judge_navber.ejs"); %>
            <div class="container-fluid">
                <div class="row">
                    <main class="col-md-12 ms-sm-auto col-lg-12 col-xl-12 px-md-2">
                        <div class="row mb-3" id="score-send">
                            <input type="hidden" id="game" value="<%= game %>">
                            <input type="hidden" id="judge" value="<%= judge %>">
                            <input type="hidden" id="order-type" value="<%= order_type%>">
                            <input type="hidden" id="judgename" value="">
                            <input type="hidden" id="judge-kind1" value="">
                            <input type="hidden" id="judge-kind2" value="">
                            <input type="hidden" id="judge-kind3" value="">
                            <input type="hidden" id="judge-kind4" value="">
                            <input type="hidden" id="judge-kind5" value="">

                            <div id="carouselExampleDark" class="carousel slide " data-bs-touch="false"
                                data-bs-interval="false">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"
                                        style="background-color: black;"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                        aria-label="Slide 2" style="background-color: black;"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="card mt-2 check-sheet">
                                            <div class="card-header fontBK">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span id="player-name">
                                                            <h4>選手が選択されていません</h4>
                                                        </span>
                                                    </div>
                                                    <input type="hidden" id="name" value="">
                                                    <div class="col-3 offset-3">
                                                        <button type="button" class="btn btn-warning"
                                                            onclick="callSystem()"
                                                            style="box-shadow: 0 5px 0 rgb(181, 172, 52);font-size: 1.2rem;">呼出</button>
                                                        <button type="button" data-bs-target="#carouselExampleDark"
                                                            data-bs-slide-to="1" aria-label="Slide 2"
                                                            class="btn btn-secondary"
                                                            style="box-shadow: 0 5px 0 rgb(89, 89, 89);font-size: 1.2rem;">送信履歴</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="card shadow-sm p-3 rounded me-1 number-card score-card"
                                                        style="height: 70vh;">

                                                        <form action="" method="POST" id="score-form">
                                                            <input type="hidden" name="player_id" id="player_id"
                                                                value="">
                                                            <input type="hidden" name="kind_num" id="kind_num" value="">
                                                            <input type="hidden" name="category_id" id="category_id"
                                                                value="">
                                                            <input type="hidden" name="sendcnt" id="sendcnt" value="0">
                                                            <div class="container pt-1">
                                                                <div class="row justify-content-end fontBK font-m ">
                                                                    <div class="col-8">種目名:<span id="kind-name"></span>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <span id="line-cnt"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center">
                                                                    <div class="offset-xs-4 col-xs-4">
                                                                        <input id="result" value='' readonly
                                                                            class="form-control font-xlg-rem"
                                                                            name="result"
                                                                            style="border: 1px solid #ced4da;">
                                                                    </div>
                                                                </div>

                                                                <div class="row justify-content-center">
                                                                    <div class="offset-xs-4 col-xs-4 row mb-0">
                                                                        <input value="7" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                        <input value="8" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                        <input value="9" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                        <input id="btn" value="AC" type="button"
                                                                            onclick="del()"
                                                                            class="form-control font-lg-rem sel-btn col-auto">
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center">
                                                                    <div class="offset-xs-4 col-xs-4 row mb-0">
                                                                        <input value="4" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                        <input value="5" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                        <input value="6" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center">
                                                                    <div class="offset-xs-4 col-xs-4 row mb-0">
                                                                        <input value="1" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                        <input value="2" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                        <input value="3" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center">
                                                                    <div class="offset-xs-4 col-xs-4 row mb-0">
                                                                        <input value="0" type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem col-auto me-1 zero-btn">
                                                                        <input value="." type="button"
                                                                            onclick="show(this)"
                                                                            class="form-control font-lg-rem sel-btn col-auto me-1">
                                                                        <input type="submit"
                                                                            class="enter-btn form-control font-lg-rem col-auto"
                                                                            id="send-btn" value="得点決定"
                                                                            onclick="return check()">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="card w-50 shadow-sm p-3 rounded fontBK score-card"
                                                        style="height: 70vh;">
                                                        <h3 class="m-2">
                                                            <span id="judge-name"></span>:入力スコア
                                                        </h3>
                                                        <input type="text" class="form-control answer pos-right"
                                                            disabled name="scoreResult" value="" id="scoreResult">
                                                        <div class="row px-2 mt-5" id="judge-row">
                                                            <div class="row mb-2 ms-auto">
                                                                <div class="card col-5 mx-1 ref-card  pt-2 pb-1"
                                                                    id="e1-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            <span class="judge-type"></span>1
                                                                        </span>
                                                                    </div>
                                                                    <div>
                                                                        <input type="text"
                                                                            class="form-control check-score form-control-sm mb-1 ms-auto"
                                                                            disabled value="0" id="score1">
                                                                    </div>
                                                                </div>
                                                                <div class="card col-5 ref-card mx-1 pt-2 pb-1"
                                                                    id="e2-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            <span class="judge-type"></span>2
                                                                        </span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <input type="text"
                                                                            class="form-control check-score form-control-sm mb-1 ms-auto"
                                                                            disabled value="0" id="score2">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2 ms-auto">
                                                                <div class="card col-5 ref-card mx-1 pt-2 pb-1"
                                                                    id="e3-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            <span class="judge-type"></span>3
                                                                        </span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <input type="text"
                                                                            class="form-control check-score form-control-sm mb-1 ms-auto"
                                                                            disabled value="0" id="score3">
                                                                    </div>
                                                                </div>
                                                                <div class="card col-5 ref-card mx-1 pt-2 pb-1"
                                                                    id="e4-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            <span class="judge-type"></span>4
                                                                        </span>
                                                                    </div>
                                                                    <div class="text-end">
                                                                        <input type="text"
                                                                            class="form-control check-score form-control-sm mb-1 ms-auto"
                                                                            disabled value="0" id="score4">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2 ms-auto">
                                                                <div class="card col-5 mx-1 pt-2 pb-1" id="e_top-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            <span class="judge-type"></span>主審
                                                                        </span>
                                                                    </div>
                                                                    <input type="text"
                                                                        class="form-control check-score form-control-sm mb-1 ms-auto"
                                                                        disabled value="0" id="top">
                                                                </div>
                                                                <div class="card col-5 mx-1 pt-2 pb-1" id="e_score-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            <span class="judge-type"></span>得点
                                                                        </span>
                                                                    </div>
                                                                    <input type="text"
                                                                        class="form-control check-score form-control-sm mb-1 ms-auto"
                                                                        disabled value="0" id="res_score">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card mt-2 check-sheet fontBK">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h4 class="prerap"><span id="game_name"></span></h4>
                                                    </div>
                                                    <div class="col-2 offset-2">
                                                        <button type="button" id="slide1btn"
                                                            data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                                            class="btn btn-secondary" aria-current="true"
                                                            aria-label="Slide 1"
                                                            style="box-shadow: 0 5px 0 rgb(89, 89, 89);font-size: 1.2rem;">入力ページ</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="continer">
                                                        <table class="table table-sm table-stripe table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">No.</th>
                                                                    <th scope="col">Item</th>
                                                                    <th scope="col">Name</th>
                                                                    <th scope="col">Team</th>
                                                                    <th scope="col">Send</th>
                                                                    <th scope="col"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="score-table"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </main>
                </div>
            </div>
            <script src="/public/javascripts/function/judgeFunc/judge_name.js"></script>
            <script src="/public/javascripts/function/scoreFunc/score_table.js"></script>
            <script src="/public/javascripts/function/socket_top.js"></script>
            <script>
                // document.getElementById速記
                const obj = x => document.getElementById(x);
                const classObj = x => document.getElementsByClassName(x);
                // 送信回数
                const cnt = obj('sendcnt');
                // 送信画面
                const lab = classObj('score-card');
                const labLength = lab.length;
                const game_id = obj('game').value;
                const gameroom = 'game' + game_id;
                const judge = obj('judge').value;
                const kindNameArea = obj('kind-name');
                //入室
                (function () {
                    var judge_name = judgeName(judge)
                    $('#set-card').hide();
                    $('#score-send').show();

                    obj('game').value = game_id;
                    obj('game_name').innerHTML = '<%= game_name %>';
                    obj('judge').value = judge;
                    obj('judge-name').innerHTML = judge_name;

                    gameScore();
                    var result = obj('scoreResult');
                    result.style.backgroundColor = "#e9e9e9";
                }());
                // 時間の取得
                function getNowYMDStr() {
                    const date = new Date()
                    const Y = date.getFullYear()
                    const M = ("00" + (date.getMonth() + 1)).slice(-2)
                    const D = ("00" + date.getDate()).slice(-2)

                    return Y + M + D
                }

                function judgeArea(val) {
                    var text;
                    var judge_row = obj('judge-row');
                    var judgeType = classObj('judge-type');
                    switch (`${val}`) {
                        case 'e':
                            text = 'E';
                            break;
                        case 'd':
                            text = 'D';
                            break;
                        default:
                            judge_row.style.display = 'none';
                            break;
                    }
                    if (val == 'e' || val == 'd') {
                        for (var i = 0; i < judgeType.length; i++) {
                            judgeType[i].innerHTML = text;
                        }
                    }
                }

                function kindName(x) {
                    var name;
                    switch (`${x}`) {
                        case '1':
                            name = 'スティック';
                            break;
                        case '2':
                            name = 'リング';
                            break;
                        case '3':
                            name = 'ロープ';
                            break;
                        case '4':
                            name = 'クラブ';
                            break;
                        case '5':
                            name = '団体';
                            break;
                    }
                    return name;
                }

                function reroad() {
                    if (obj('name').value) {
                        var result = confirm('現在入力中のデータは保存されません。画面を更新してもよろしいですか？')
                        if (result) {
                            location = `/score/${game_id}/${judge}`;
                        } else {
                            return false;
                        }
                    } else {
                        location = `/score/${game_id}/${judge}`;

                    }
                }
            </script>
            <script src="/public/javascripts/function/scoreFunc/score_socket.js"></script>
            <script src="/public/javascripts/function/scoreFunc/score_ajax.js"></script>
            <script src="/public/javascripts/function/judgeFunc/score_check.js"></script>
            <script src="/public/javascripts/function/callFunc.js"></script>
    </body>

    </html>