<% var player; var playerScore; var player_id; var kind_num; var kokutai; %>
    <!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8mb4">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>セクレタリー</title>
        <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
        <%- include('../share/stylesheet.ejs') %>
            <link rel="stylesheet" href="/public/stylesheets/secretary.css">
            <script src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
            <script src="/socket.io/socket.io.js"></script>
    </head>

    <body onload="get_data()">

        <%- include("../share/sec_top_navber.ejs"); %>
            <div class="container-fluid p-m-0">
                <%- include("../share/secretary_sideber.ejs");%>
                    <div class="row">
                        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-2">
                            <div class="low mb-2">

                                <div id="carouselExampleDark" class="carousel slide " data-bs-touch="false"
                                    data-bs-interval="false">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                            class="active" aria-current="true" aria-label="Slide 1"
                                            style="background-color: black;"></button>
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                            aria-label="Slide 2" style="background-color: black;"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="card mt-1 mb-1 fontBK check-sheet">
                                                <div class="card-header row me-0">
                                                    <div class="col-5">
                                                        <% if (player) {%>
                                                            <% player.forEach((player)=> { %>
                                                                <% if(player.menber_name){ %>
                                                                    <span class="font-l font-bold me-5">
                                                                        <%= player.menber_name %>
                                                                    </span>
                                                                    <input type="hidden" id="name"
                                                                        value="<%= player.menber_name %>">
                                                                    <input type="hidden" id="team"
                                                                        value="<%= player.sub_team %>">
                                                                    <a onclick="get_data()" class="rounded-circle"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" height="16" fill="currentColor"
                                                                            class="bi bi-arrow-clockwise"
                                                                            viewBox="0 0 16 16">
                                                                            <path fill-rule="evenodd"
                                                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                                            <path
                                                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                                                        </svg></a>
                                                                    <br>
                                                                    <span class="font-m">
                                                                        <%= player.team %>
                                                                    </span>
                                                                    <% } else {%>
                                                                        <span class="font-l font-bold me-5">
                                                                            <%= player.name %>
                                                                        </span>
                                                                        <input type="hidden" id="name"
                                                                            value="<%= player.name %>">
                                                                        <input type="hidden" id="team"
                                                                            value="<%= player.team %>">
                                                                        <a onclick="get_data()"
                                                                            class="rounded-circle"><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="16" height="16"
                                                                                fill="currentColor"
                                                                                class="bi bi-arrow-clockwise"
                                                                                viewBox="0 0 16 16">
                                                                                <path fill-rule="evenodd"
                                                                                    d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                                                <path
                                                                                    d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                                                            </svg></a>
                                                                        <br>
                                                                        <span class="font-m">
                                                                            <%= player.team %>
                                                                        </span>

                                                                        <% } %>
                                                                            <input type="hidden" id="player-category"
                                                                                value="<%= player.category_id %>">
                                                                            <% }) %>
                                                                                <% } else { %>
                                                                                    <h5>選手を選択してください</h5>
                                                                                    <input type="hidden"
                                                                                        id="player-category" value="0">
                                                                                    <% } %>
                                                    </div>
                                                    <div class="col-5 offset-2">
                                                        <button class="btn btn-primary" type="button"
                                                            style="box-shadow: 0 5px 0 rgb(53, 57, 189);font-size: 1.1rem;"
                                                            onclick="sensyuSousin()">審判へ送信</button>
                                                        <button class="btn btn-danger ms-2" type="button"
                                                            style="box-shadow: 0 5px 0 rgb(186, 53, 53);font-size: 1.1rem;"
                                                            onclick="abstentionCheck()">キケン</button>
                                                        <button type="button" class="btn btn-warning offset-2"
                                                            style="box-shadow: 0 5px 0 rgb(181, 172, 52);font-size: 0.9rem;"
                                                            onclick="callSystem()">呼出</button>
                                                        <button type="button" data-bs-target="#carouselExampleDark"
                                                            data-bs-slide-to="1" aria-label="Slide 2"
                                                            class="btn btn-secondary "
                                                            style="box-shadow: 0 5px 0 rgb(89, 89, 89);font-size: 0.9rem;">得点表</button>
                                                    </div>
                                                </div>
                                                <form
                                                    action="/secretary/<%= game_id %>/<%= judge %>/<%=player_id %>/<%= category_id %>/<%= kind_num %>"
                                                    method="post">

                                                    <input type="hidden" name="category" id="cate_id"
                                                        value="<%= category_id%>">
                                                    <input type="hidden" name="game_id" id="game_id"
                                                        value="<%=game_id%>">
                                                    <input type="hidden" name="judge" id="judge" value="<%=judge%>">
                                                    <input type="hidden" name="player_id" id="player_id"
                                                        value="<%= player_id %>">
                                                    <input type="hidden" name="kind_num" id="kind_num"
                                                        value="<%= kind_num %>">
                                                    <input type="hidden" name="e_method" id="e_method" value="">
                                                    <input type="hidden" name="d_method" id="d_method" value="">

                                                    <input type="hidden" id="kind1-check" value="">
                                                    <input type="hidden" id="kind2-check" value="">
                                                    <input type="hidden" id="kind3-check" value="">
                                                    <input type="hidden" id="kind4-check" value="">
                                                    <input type="hidden" id="kind5-check" value="">
                                                    <input type="hidden" id="kind6-check" value="">
                                                    <input type="hidden" id="kind7-check" value="">
                                                    <input type="hidden" id="kozin-check" value="">
                                                    <input type="hidden" id="kokutai-check" name="kokutai" value="">
                                                    <input type="hidden" name="order_type" id="order_type" value="">
                                                    <input type="hidden" name="" id="top_j" value="">
                                                    <input type="hidden" name="" id="d_top_j" value="">
                                                    <input type="hidden" name="" id="e_top_j" value="">
                                                    <input type="hidden" name="" id="d1_j" value="">
                                                    <input type="hidden" name="" id="d2_j" value="">
                                                    <input type="hidden" name="" id="d3_j" value="">
                                                    <input type="hidden" name="" id="d4_j" value="">
                                                    <input type="hidden" name="" id="e1_j" value="">
                                                    <input type="hidden" name="" id="e2_j" value="">
                                                    <input type="hidden" name="" id="e3_j" value="">
                                                    <input type="hidden" name="" id="e4_j" value="">
                                                    <input type="hidden" name="" id="time_j" value="">
                                                    <input type="hidden" name="" id="line1_j" value="">
                                                    <input type="hidden" name="" id="line2_j" value="">
                                                    <input type="hidden" name="" id="d_num" value="">
                                                    <input type="hidden" name="" id="e_num" value="">


                                                    <%if (player_id !=null) {%>
                                                        <input type="hidden" name="" id="e1-cnt" value="0">
                                                        <input type="hidden" name="" id="e2-cnt" value="0">
                                                        <input type="hidden" name="" id="e3-cnt" value="0">
                                                        <input type="hidden" name="" id="e4-cnt" value="0">
                                                        <input type="hidden" name="" id="e_top-cnt" value="0">
                                                        <input type="hidden" name="" id="d1-cnt" value="0">
                                                        <input type="hidden" name="" id="d2-cnt" value="0">
                                                        <input type="hidden" name="" id="d3-cnt" value="0">
                                                        <input type="hidden" name="" id="d4-cnt" value="0">
                                                        <input type="hidden" name="" id="d_top-cnt" value="0">
                                                        <input type="hidden" name="" id="line1_ded-cnt" value="0">
                                                        <input type="hidden" name="" id="line2_ded-cnt" value="0">
                                                        <input type="hidden" name="" id="time_ded-cnt" value="0">
                                                        <input type="hidden" name="" id="act_time-cnt" value="0">
                                                        <input type="hidden" name="" id="res_ded-cnt" value="0">

                                                        <input type="hidden" value="0" id="e_check">
                                                        <input type="hidden" value="0" id="d_check">
                                                        <input type="hidden" value="0" id="ded_check">

                                                        <div id="Emessage"></div>
                                                        <div id="Dmessage"></div>
                                                        <div class="card-body pt-0">
                                                            <div class="row mb-2">
                                                                <div class="card col-2 mx-1 width15 ref-card pt-2 pb-1 "
                                                                    id="d_top-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            D主審
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm"
                                                                                onclick="changeScore('55')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('55')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('55')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <span class="form-label-s">score</span>
                                                                        <input type="text"
                                                                            class="form-control form-control-sm score-form mb-1"
                                                                            readonly name="d_top" value="0" id="d_top">
                                                                    </div>
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1"
                                                                    id="d1-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            D1
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm d-ref visible-ref invisible"
                                                                                onclick="changeScore('51')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('51')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('51')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1 d-ref dinp visible-ref invisible"
                                                                        readonly name="d1" value="0" id="d1">
                                                                    <div class="text-end text-light me-1 pe-1 dch"
                                                                        style="font-size: 1.5rem;" id="d1ch"></div>
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1"
                                                                    id="d2-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            D2
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm d-ref visible-ref invisible"
                                                                                onclick="changeScore('52')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('52')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('52')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1 dinp d-ref visible-ref invisible"
                                                                        readonly name="d2" value="0" id="d2">
                                                                    <div class="text-end text-light me-1 pe-1 dch"
                                                                        style="font-size: 1.5rem;" id="d2ch"></div>
                                                                </div>

                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1 "
                                                                    id="d3-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            D3
                                                                        </span>
                                                                    </div>

                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm  d-ref  visible-ref invisible"
                                                                                onclick="changeScore('53')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('53')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('53')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1 d-ref dinp visible-ref invisible"
                                                                        readonly name="d3" value="0" id="d3">
                                                                    <div class="text-end text-light me-1 pe-1 dch"
                                                                        style="font-size: 1.5rem;" id="d3ch"></div>
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1"
                                                                    id="d4-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            D4
                                                                        </span>
                                                                    </div>

                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm d-ref visible-ref invisible"
                                                                                onclick="changeScore('54')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('54')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('54')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1 d-ref dinp visible-ref invisible"
                                                                        readonly name="d4" value="0" id="d4">
                                                                    <div class="text-end text-light me-1 pe-1 dch"
                                                                        style="font-size: 1.5rem;" id="d4ch"></div>
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 pt-2 pb-1" id="">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            D得点
                                                                        </span>
                                                                    </div>

                                                                    <div class="mt-4 pt-2">
                                                                        <span class="form-label-s">score</span>
                                                                        <input type="text"
                                                                            class="form-control form-control-sm score-form"
                                                                            readonly name="d_score" value="0"
                                                                            id="d_score">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2 ">
                                                                <div class="card col-2 mx-1 width15 pt-2 pb-1 ref-card"
                                                                    id="e_top-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            E主審
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm"
                                                                                onclick="changeScore('35')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('35')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('35')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <span class="form-label-s">score</span>
                                                                        <input type="text"
                                                                            class="form-control form-control-sm score-form mb-1"
                                                                            readonly name="e_top" value="0" id="e_top">
                                                                    </div>
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1"
                                                                    id="e1-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            E1
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm e-ref visible-ref invisible"
                                                                                onclick="changeScore('31')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('31')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('31')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1 einp e-ref visible-ref invisible"
                                                                        readonly name="e1" value="0" id="e1">
                                                                    <div class="text-end text-light me-1 pe-1 ech"
                                                                        style="font-size: 1.5rem;" id="e1ch"></div>
                                                                </div>
                                                                <div class="card col-2 ref-card mx-1 width15 pt-2 pb-1"
                                                                    id="e2-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            E2
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm e-ref  visible-ref invisible"
                                                                                onclick="changeScore('32')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('32')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('32')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1 einp e-ref visible-ref invisible"
                                                                        readonly name="e2" value="0" id="e2">
                                                                    <div class="text-end text-light me-1 pe-1 ech"
                                                                        style="font-size: 1.5rem;" id="e2ch"></div>
                                                                </div>
                                                                <div class="card col-2 ref-card mx-1 width15 pt-2 pb-1"
                                                                    id="e3-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            E3
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm e-ref visible-ref invisible"
                                                                                onclick="changeScore('33')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('33')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('33')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1 einp e-ref visible-ref invisible"
                                                                        readonly name="e3" value="0" id="e3">
                                                                    <div class="text-end text-light me-1 pe-1 ech"
                                                                        style="font-size: 1.5rem;" id="e3ch"></div>
                                                                </div>
                                                                <div class="card col-2 ref-card mx-1 width15 pt-2 pb-1"
                                                                    id="e4-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            E4
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm e-ref visible-ref invisible"
                                                                                onclick="changeScore('34')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('34')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('34')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1 einp e-ref visible-ref invisible"
                                                                        readonly name="e4" value="0" id="e4">
                                                                    <div class="text-end text-light me-1 pe-1 ech"
                                                                        style="font-size: 1.5rem;" id="e4ch"></div>
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 pt-2 pb-1"
                                                                    id="e_score-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            E得点
                                                                        </span>
                                                                    </div>

                                                                    <div class="mt-4 pt-2">
                                                                        <span class="form-label-s">score</span>
                                                                        <input type="text"
                                                                            class="form-control form-control-sm score-form"
                                                                            readonly name="e_score" value="0"
                                                                            id="e_score">
                                                                    </div>
                                                                </div>

                                                            </div>


                                                            <div class="row">
                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1"
                                                                    id="act_time-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            計時
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm"
                                                                                onclick="changeScore('71')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('71')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('71')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s"
                                                                        style="font-weight: bold;">
                                                                        演技時間
                                                                    </span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1"
                                                                        readonly name="act_time" value="" id="act_time">
                                                                    <span class="form-label-s"
                                                                        style="font-weight: bold;">
                                                                        タイム減点
                                                                    </span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1"
                                                                        readonly name="time_ded" value="0"
                                                                        id="time_ded">
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1"
                                                                    id="line1_ded-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            線審1
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm"
                                                                                onclick="changeScore('61')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('61')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('61')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1"
                                                                        readonly name="line1_ded" value="0"
                                                                        id="line1_ded">
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1"
                                                                    id="line2_ded-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            線審2
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm"
                                                                                onclick="changeScore('62')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('62')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('62')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm score-form mb-1"
                                                                        readonly name="line2_ded" value="0"
                                                                        id="line2_ded">
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 ref-card  pt-2 pb-1"
                                                                    id="res_ded-lab">
                                                                    <div class="score-header">
                                                                        <span class="score-title"
                                                                            style="font-size: 0.8rem;">
                                                                            その他減点(審判長)
                                                                        </span>
                                                                    </div>
                                                                    <div class="row text-center mt-1 pt-1">
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-secondary btn-sm"
                                                                                onclick="changeScore('1')"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#modal">編集</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-primary btn-sm"
                                                                                onclick="playerSend('1')">再送</button>
                                                                        </div>
                                                                        <div class="col-4 p-0">
                                                                            <button type="button"
                                                                                class="s-btn btn btn-success btn-sm"
                                                                                onclick="unlockJudge('1')">解除</button>
                                                                        </div>
                                                                    </div>
                                                                    <span class="form-label-s">score</span>
                                                                    <div class="">
                                                                        <input type="text"
                                                                            class="form-control form-control-sm score-form"
                                                                            readonly name="res_ded" value="0"
                                                                            id="res_ded">
                                                                    </div>
                                                                </div>
                                                                <div class="card col-2 mx-1 width15 pt-2 pb-1">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            減点合計
                                                                        </span>
                                                                    </div>

                                                                    <div style="margin-top: 31px;">
                                                                        <span class="form-label-s">score</span>
                                                                        <input type="text"
                                                                            class="form-control form-control-sm score-form"
                                                                            readonly name="all_ded" value="0" id="ded">
                                                                    </div>
                                                                </div>
                                                                <div class="container col-2 ms-1 ps-0 pt-2">
                                                                    <div class="score-header">
                                                                        <span class="score-title">
                                                                            得点
                                                                        </span>
                                                                    </div>

                                                                    <input type="text" class="form-control answer"
                                                                        readonly name="answer"
                                                                        style="width: 130%; margin-top: 21px;" value=""
                                                                        id="answer">
                                                                    <div
                                                                        class="d-grid d-md-flex justify-content-md-end mt-2">
                                                                        <button type="submit" class="btn answer-btn"
                                                                            onclick="postScore()">得点決定</button>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                </form>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card mt-1 check-sheet fontBK">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <h4 class="prerap"><span id="game_name"></span></h4>
                                                        </div>
                                                        <div class="col-2 offset-2">
                                                            <button type="button" id="slide1btn"
                                                                data-bs-target="#carouselExampleDark"
                                                                data-bs-slide-to="0" class="btn btn-secondary"
                                                                style="box-shadow: 0 5px 0 rgb(89, 89, 89);font-size: 0.9rem;"
                                                                aria-current="true" aria-label="Slide 1">セクレタリー</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="continer">
                                                            <table id="order-table"
                                                                class="table table-hover caption-top table-sm">
                                                                <caption><span class="ms-2">演技順得点表</span></caption>
                                                                <thead class="table-bordered">
                                                                    <tr>
                                                                        <th scope="col" class="wid-15">No.</th>
                                                                        <th scope="col" class="wid-15">Item</th>
                                                                        <th scope="col" class="wid-25">Name</th>
                                                                        <th scope="col" class="wid-30">Team</th>
                                                                        <th scope="col" class="wid-15">Result</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <div id="score-table"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </main>
                    </div>
                    <div id="modal" class="modal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fontBK">得点編集</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="閉じる"></button>
                                </div>
                                <!-- /.modal-header -->
                                <div class="modal-body">
                                    <div class="row justify-content-center">
                                        <div class="score-title fontBK" id="change-name"></div>

                                        <form action="/secretary" method="post" id="changeform">
                                            <input type="hidden" name="player_id" id="henkou-p-id" value="">
                                            <input type="hidden" name="kind_num" id="henkou-kind" value="">
                                            <input type="hidden" name="judge" value="<%=judge%>">
                                            <input type="hidden" name="game_id" value="<%=game_id%>">
                                            <input type="hidden" name="category" id="post-category" value="">
                                            <input type="hidden" name="kokutai" value="" id="kokutai">
                                            <input type="hidden" name="colum" id="colum" value="">
                                            <input type="hidden" name="cnt" id="cnt" value="">
                                            <input type="number" class="form-control form-control-sm score-form"
                                                step="0.05" name="score" id="henkou-score" value=""
                                                style="width: 200px; font-size: 2em;">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                    <button type="submit" class="btn btn-primary" onclick="changeAfter()">変更</button>
                                </div>
                                </form>
                                <!-- /.modal-footer -->
                            </div>
                        </div>
                    </div>
                    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
                    <script src="/public/javascripts/function/judgeFunc/judge_name.js"></script>
                    <script>
                        const obj = (x) => document.getElementById(x);
                        const player_id = obj('player_id').value;
                        const category_id = obj('cate_id').value;
                        const kind_num = obj('kind_num').value;
                        const game_id = obj('game_id').value
                        const gameroom = 'game' + game_id;
                    </script>
                    <script src="/public/javascripts/function/socket_top.js"></script>
                    <script src="/public/javascripts/function/secretaryFunc/sec_socket.js"></script>
                    <script src="/public/javascripts/function/secretaryFunc/secretaryFunction.js"></script>
                    <script src="/public/javascripts/function/secretaryFunc/sec_func.js"></script>
                    <script src="/public/javascripts/function/formula.js"></script>
                    <script src="/public/javascripts/function/secretaryFunc/tab_list.js"></script>
                    <script src="/public/javascripts/function/topFunc/order_score_table.js"></script>
                    <!-- <script src="/public/javascripts/function/secretaryFunc/color_change.js"></script> -->
                    <script src="/public/javascripts/function/callFunc.js"></script>
    </body>

    </html>