<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>計時用</title>
    <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
    <%- include('../share/stylesheet.ejs') %>
        <link rel="stylesheet" href="/public/stylesheets/timer.css">
        <script type="text/javascript" src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>

</head>

<body>
    <%- include("../share/judge_navber.ejs"); %>
        <input type="hidden" id="judge" value="<%= judge %>">
        <input type="hidden" id="game" value="<%=game%>">
        <input type="hidden" name="player_id" id="player_id" value="">
        <input type="hidden" name="kind_num" id="kind_num" value="">
        <input type="hidden" name="category_id" id="category_id" value="">

        <div class="card center my-2 fontBK" style="height: fit-content;">
            <div class="card-header fontBK">
                <div class="row">
                    <div id="buttons" class="text-center col-12">
                        <input id="start" type="button" value="start" style="width:30% ;height: 120px;">
                        <input id="rap" type="button" value="rap" style="width:30% ;height: 120px;">
                        <input id="stop" type="button" value="stop" onclick="timeStop()"
                            style="width:30%;height: 120px;">
                        <input id="reset" type="button" value="reset" style="width:30%;height: 120px;">
                    </div>
                </div>
            </div>
            <div class="card-body" id="container">
                <div class="row">
                    <div class="col-12" id="time"
                        style="color: black; font-size: 8rem;display: inline-flex; justify-content: center;">00:00.000
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-1">
                        <label for="act" class="form-label" style="font-size: 1.5rem;">演技時間</label>
                        <input type="text" class="form-control timer" id="act" style="width: 100%;font-size: 4em;"
                            disabled value=""></input>
                    </div>
                    <div class="col-4">
                        <label for="ded" class="form-label" style="font-size:1.5rem;">減点</label>
                        <input type="text" class="form-control timer" id="ded" style="width: 100%;font-size: 4em;"
                            disabled value=""></input>
                    </div>
                    <div class="col-3 row">
                        <div class="col-12"></div>
                        <div class="col-12"></div>
                        <div class="col-12 flex-column justify-content-end">
                            <button class="btn btn-primary" type="button"
                                style="width: 100%; box-shadow: 0 5px 0 rgb(53, 57, 189);font-size: 1.5rem;"
                                data-bs-toggle="modal" data-bs-target="#modal">タイム確認</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-9" id="player-name">
                        <h4>選手が選択されていません</h4>
                    </div>
                    <div class="col-3 ">
                        <!-- <button type="button" class="btn btn-danger me-3" id="cntStartbtn" style="box-shadow:  0 5px 0 rgb(145, 41, 41);font-size: 1.2rem;" onclick="playstart()">演技開始</button> -->
                        <button type="button" class="btn btn-secondary me-3" id="cntEndbtn"
                            style="box-shadow: 0 5px 0 rgb(89, 89, 89);font-size: 1.2rem;"
                            onclick="countstop()">リセット</button>
                        <button type="button" class="btn btn-warning"
                            style="box-shadow: 0 5px 0 rgb(181, 172, 52);font-size: 1.2rem;"
                            onclick="callSystem()">呼出</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div id="modal" class="modal" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen" id="modal-back">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fontBK">
                            演技時間
                            <span class='ms-5 text-danger' id="err"></span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"
                            id="close-btn"></button>
                    </div>
                    <!-- /.modal-header -->
                    <form action="/timer/<%= judge %>" method="POST">
                        <div class="modal-body fontBK pb-0">
                            <div class="row">
                                <div class="col-4">
                                    <input type="number" class="form-control timer" id="m-t">
                                </div>
                                <div class="col-4">
                                    <input type="number" class="form-control timer" id="s-t">
                                </div>
                                <div class="col-4">
                                    <input type="number" class="form-control timer" id="ms-t" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 mt-1" id="rap-area" style="height: 30vh; overflow: scroll;">
                                    <span class="mb-1">計測時間</span>

                                </div>
                                <div class="col-4" style="margin-right: 0;">
                                    <label for="time_ded" class="form-label" style="font-size: 1em;">減点<span
                                            class="mx-5">基準時間:</span><span id="setTime"></span>秒</label>
                                    <input type="number" class="form-control timer" id="time_ded"
                                        style="width: 100%;font-size: 7em;" disabled name="time_ded" value=""></input>
                                    <input type="hidden" name="act_time" id="time-val" class="form-control timer"
                                        value="">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer pt-0">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                            <div class="col-4">
                                <button type="submit" class="enter-btn form-control font-lg-rem me-0"
                                    style="margin-left: 100px; width: 50%; height: 100%;" id="send-btn">送信</button>
                            </div>
                        </div>
                    </form>
                    <!-- /.modal-footer -->
                </div>
            </div>
        </div>

        <!--script-->
        <script src="/public/javascripts/function/judgeFunc/judge_name.js"></script>
        <script>
            // document.getElementById速記
            const obj = x => document.getElementById(x);
            const classObj = x => document.getElementsByClassName(x);
            // 送信回数
            const cnt = obj('sendcnt');
            // 送信画面
            const lab = classObj('score-card');
            const labLength = lab.length;
            const game_id = obj('game').value;
            const gameroom = 'game' + game_id;
            const judge = obj('judge').value;
            const kind = obj('kind_num').value;
            var setTime = 15;
        </script>
        <script src="/public/javascripts/function/socket_top.js"></script>
        <script src="/public/javascripts/function/timerFunc/timer_socket.js"></script>
        <script src="/public/javascripts/function/timerFunc/timer_post.js"></script>
        <script src="/public/javascripts/function/timerFunc/timer_func.js"></script>
        <script src="/public/javascripts/function/callFunc.js"></script>
</body>

</html>