<% var player; var playerScore; var player_id; var kind_num; %>
    <!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>審判長採点</title>
        <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
        <%- include('../share/stylesheet.ejs') %>
            <link rel="stylesheet" href="/public/stylesheets/secretary.css">
            <script src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
            <script src="/socket.io/socket.io.js"></script>

    </head>

    <body>
        <%- include("../share/judge_navber.ejs"); %>
            <div class="container-fluid p-m-0">
                <div class="row">
                    <main class="col-md-12 ms-sm-auto col-lg-12 col-xl-12 px-md-2">
                        <div class="row mb-2 me-0">
                            <div class="card fontBK col-5 mt-2 text-center 	position-absolute top-50 start-50 translate-middle"
                                id="set-card">
                                <div class="card-header">
                                    <h5>種目選択</h5>
                                </div>
                                <form action="/" method="post" id="set-form" name="setform">
                                    <div class="card-body">
                                        <div class="container">
                                            <p>表示種目を選択してください

                                            </p>
                                            <div class="form-check form-check-inline form-switch">
                                                <input class="form-check-input" type="checkbox" id="allcheck" value="0">
                                                <label class="form-check-label" for="allcheck">All check</label>
                                            </div>
                                            <div id="judge_check" class="mt-2">
                                            </div>
                                            <div id="select-kind" class="mt-2">
                                                <div class="form-check form-check-inline"><input
                                                        class="form-check-input kindcheck" type="checkbox" id="kind1"
                                                        value="0" name="kind1"><label class="form-check-label"
                                                        for="kind1"><img class="me-1" src="/public/img/stick.png"
                                                            style="width:30px"></label></div>
                                                <div class="form-check form-check-inline"><input
                                                        class="form-check-input kindcheck" type="checkbox" id="kind2"
                                                        value="0" name="kind2"><label class="form-check-label"
                                                        for="kind2"><img class="me-1" src="/public/img/ring.png"
                                                            style="width:30px"></label></div>
                                                <div class="form-check form-check-inline"><input
                                                        class="form-check-input kindcheck" type="checkbox" id="kind3"
                                                        value="0" name="kind3"><label class="form-check-label"
                                                        for="kind3"><img class="me-1" src="/public/img/rope.png"
                                                            style="width:30px"></label></div>
                                                <div class="form-check form-check-inline"><input
                                                        class="form-check-input kindcheck" type="checkbox" id="kind4"
                                                        value="0" name="kind4"><label class="form-check-label"
                                                        for="kind4"><img class="me-1" src="/public/img/clab_men.png"
                                                            style="width:30px"></label></div>
                                                <div class="form-check form-check-inline"><input
                                                        class="form-check-input kindcheck" type="checkbox" id="kind5"
                                                        value="0" name="kind5"><label class="form-check-label"
                                                        for="kind5"><img src="/public/img/dantai.png"
                                                            style="width:30px"></label></div>
                                            </div>
                                            <div id="category" class="px-2 mt-1"></div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-primary">設定する</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row mb-2 me-0" id="score-send" style="display: none;">
                            <input type="hidden" id="judge-kind1" value="<%= kindset.kind1 %>">
                            <input type="hidden" id="judge-kind2" value="<%= kindset.kind2 %>">
                            <input type="hidden" id="judge-kind3" value="<%= kindset.kind3 %>">
                            <input type="hidden" id="judge-kind4" value="<%= kindset.kind4 %>">
                            <input type="hidden" id="judge-kind5" value="<%= kindset.kind5 %>">
                            <input type="hidden" name="" id="top_j" value="">
                            <input type="hidden" name="" id="d_top_j" value="">
                            <input type="hidden" name="" id="e_top_j" value="">
                            <input type="hidden" name="" id="d1_j" value="">
                            <input type="hidden" name="" id="d2_j" value="">
                            <input type="hidden" name="" id="d3_j" value="">
                            <input type="hidden" name="" id="d4_j" value="">
                            <input type="hidden" name="" id="e1_j" value="">
                            <input type="hidden" name="" id="e2_j" value="">
                            <input type="hidden" name="" id="e3_j" value="">
                            <input type="hidden" name="" id="e4_j" value="">
                            <input type="hidden" name="" id="time_j" value="">
                            <input type="hidden" name="" id="line1_j" value="">
                            <input type="hidden" name="" id="line2_j" value="">
                            <input type="hidden" name="" id="d_num" value="">
                            <input type="hidden" name="" id="e_num" value="">

                            <div id="carouselExampleDark" class="carousel slide " data-bs-touch="false"
                                data-bs-interval="false">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"
                                        style="background-color: black;"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                        aria-label="Slide 2" style="background-color: black;"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="card mt-1 mb-1 fontBK check-sheet">
                                            <div class="card-header row " style="margin-right: 0;">
                                                <div class="col-4">
                                                    <span id="player-name">
                                                        <h5>選手が選択されていません</h5>
                                                    </span>
                                                </div>
                                                <div class="col-5 offset-3">
                                                    <button type="button" class="btn btn-primary"
                                                        style="box-shadow: 0 5px 0 rgb(53, 57, 189);font-size: 0.9rem;"
                                                        onclick="changeScore('res_ded')" data-bs-toggle="modal"
                                                        data-bs-target="#modal">審判長減点</button>
                                                    <button type="button" class="btn btn-warning offset-3"
                                                        onclick="callSystem()"
                                                        style="box-shadow: 0 5px 0 rgb(181, 172, 52);font-size: 0.9rem;">呼出</button>
                                                    <button type="button" data-bs-target="#carouselExampleDark"
                                                        data-bs-slide-to="1" aria-label="Slide 2"
                                                        class="btn btn-secondary"
                                                        style="box-shadow: 0 5px 0 rgb(89, 89, 89);font-size: 0.9rem;">得点表</button>
                                                </div>
                                            </div>
                                            <input type="hidden" name="e_method" id="e_method" value="">
                                            <input type="hidden" name="a_method" id="a_method" value="">
                                            <input type="hidden" name="d_method" id="d_method" value="">
                                            <input type="hidden" name="order_type" id="order_type" value="">
                                            <input type="hidden" name="game_id" id="game_id" value="<%= game %>">

                                            <input type="hidden" name="category" id="cate_id" value="">
                                            <input type="hidden" name="judge" id="judge" value="<%= judge %>">
                                            <input type="hidden" name="player_id" id="player_id" value="">
                                            <input type="hidden" name="kind_num" id="kind_num" value="">
                                            <input type="hidden" id="special" value="">
                                            <input type="hidden" value="0" id="e_check">
                                            <input type="hidden" value="0" id="d_check">

                                            <input type="hidden" name="" class="cnt" id="e1-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="e2-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="e3-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="e4-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="e_top-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="d1-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="d2-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="d3-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="d4-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="d_top-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="line1_ded-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="line2_ded-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="time_ded-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="act_time-cnt" value="0">
                                            <input type="hidden" name="" class="cnt" id="res_ded-cnt" value="0">
                                            <div class="card-body pt-0">

                                                <div id="Emessage"></div>
                                                <div id="Dmessage"></div>

                                                <div class="row mb-2">
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="d_top-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                D主審
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1"
                                                            readonly name="d_top" value="0" id="d_top">
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="d1-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                D1
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1 d-ref dinp "
                                                            readonly name="d1" value="0" id="d1">
                                                        <div class="text-end text-light me-1 pe-1 formula-msg dch"
                                                            style="font-size: 1.5rem;" id="d1ch"></div>
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="d2-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                D2
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1 d-ref dinp "
                                                            readonly name="d2" value="0" id="d2">
                                                        <div class="text-end text-light me-1 pe-1 formula-msg dch"
                                                            style="font-size: 1.5rem;" id="d2ch"></div>
                                                    </div>

                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="d3-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                D3
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1 d-ref dinp "
                                                            readonly name="d3" value="0" id="d3">
                                                        <div class="text-end text-light me-1 pe-1 formula-msg dch"
                                                            style="font-size: 1.5rem;" id="d3ch"></div>
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="d4-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                D4
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1 d-ref dinp "
                                                            readonly name="d4" value="0" id="d4">
                                                        <div class="text-end text-light me-1 pe-1 formula-msg dch"
                                                            style="font-size: 1.5rem;" id="d4ch"></div>
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                D得点
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form" readonly
                                                            name="d_score" value="0" id="d_score">
                                                    </div>
                                                </div>
                                                <div class="row mb-2 ">
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="e_top-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                E主審
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1"
                                                            readonly name="e_top" value="0" id="e_top">
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="e1-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                E1
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1 einp e-ref "
                                                            readonly name="e1" value="0" id="e1">
                                                        <div class="text-end text-light me-1 pe-1 formula-msg ech"
                                                            style="font-size: 1.5rem;" id="e1ch"></div>
                                                    </div>
                                                    <div class="card col-2 w-20 mx-1 width15 pt-2 pb-1" id="e2-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                E2
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1 einp e-ref "
                                                            readonly name="e2" value="0" id="e2">
                                                        <div class="text-end text-light me-1 pe-1 formula-msg ech"
                                                            style="font-size: 1.5rem;" id="e2ch"></div>
                                                    </div>
                                                    <div class="card col-2 w-20 mx-1 width15 pt-2 pb-1" id="e3-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                E3
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1 einp e-ref "
                                                            readonly name="e3" value="0" id="e3">
                                                        <div class="text-end text-light me-1 pe-1 formula-msg ech"
                                                            style="font-size: 1.5rem;" id="e3ch"></div>
                                                    </div>
                                                    <div class="card col-2 w-20 mx-1 width15 pt-2 pb-1" id="e4-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                E4
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1 einp e-ref"
                                                            readonly name="e4" value="0" id="e4">
                                                        <div class="text-end text-light me-1 pe-1 formula-msg ech"
                                                            style="font-size: 1.5rem;" id="e4ch"></div>
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="e_score-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                E得点
                                                            </span>
                                                        </div>

                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form" readonly
                                                            name="e_score" value="0" id="e_score">
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="act_time-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                計時
                                                            </span>
                                                        </div>

                                                        <span class="form-label-s fw-bold">
                                                            演技時間
                                                        </span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1"
                                                            readonly name="act_time" value="" id="act_time">
                                                        <span class="form-label-s fw-bold">
                                                            タイム減点
                                                        </span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1"
                                                            readonly name="time_ded" value="0" id="time_ded">
                                                    </div>

                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="line1_ded-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                線審1
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1"
                                                            readonly name="line1_ded" value="0" id="line1_ded">
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="line2_ded-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                線審2
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <input type="text"
                                                            class="form-control form-control-sm score-form mb-1"
                                                            readonly name="line2_ded" value="0" id="line2_ded">
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="res_ded-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                その他減点
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm score-form" readonly
                                                                name="res_ded" value="0" id="res_ded">
                                                        </div>
                                                    </div>
                                                    <div class="card col-2 mx-1 width15 pt-2 pb-1" id="all_ded-lab">
                                                        <div class="score-header">
                                                            <span class="score-title">
                                                                減点合計
                                                            </span>
                                                        </div>
                                                        <span class="form-label-s">score</span>
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm score-form" readonly
                                                                name="all_ded" value="0" id="ded">
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <span class="score-title">
                                                            得点
                                                        </span>
                                                        <input type="text" class="form-control answer" readonly
                                                            name="answer" style="width: 130%;" value="" id="answer">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card mt-1 check-sheet fontBK">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h4 class="prerap"><span id="game_name"></span></h4>
                                                    </div>
                                                    <div class="col-2 offset-2">
                                                        <button type="button" id="slide1btn"
                                                            data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                                            class="btn btn-secondary"
                                                            style="box-shadow: 0 5px 0 rgb(89, 89, 89);font-size: 0.9rem;"
                                                            aria-current="true" aria-label="Slide 1">入力ページ</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="continer">
                                                        <div class="table-responsive">
                                                            <table id="order-table"
                                                                class="table table-hover caption-top table-sm">
                                                                <caption><span class="ms-2">演技順得点表</span></caption>
                                                                <thead class="table-bordered">
                                                                    <tr>
                                                                        <th scope="col" class="wid-15">No.</th>
                                                                        <th scope="col" class="wid-15">Item</th>
                                                                        <th scope="col" class="wid-25">Name</th>
                                                                        <th scope="col" class="wid-30">Team</th>
                                                                        <th scope="col">Result</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <div id="score-table"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </main>
            </div>
            <div id="modal" class="modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fontBK">審判長減点</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                        </div>
                        <!-- /.modal-header -->
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <form action="/top_score" method="post" id="res-post">
                                    <input type="hidden" name="player_id" id="henkou-p-id" value="">
                                    <input type="hidden" name="kind_num" id="henkou-kind" value="">
                                    <input type="hidden" name="judge" value="<%=judge%>">
                                    <input type="hidden" name="game_id" value="<%=game%>">
                                    <input type="hidden" name="category" id="post-category" value="<%=category_id%>">
                                    <input type="hidden" name="colum" id="colum" value="">
                                    <input type="hidden" name="cnt" id="cnt" value="">
                                    <input type="number" step="0.1" class="form-control form-control-sm score-form"
                                        name="score" id="henkou-score" value="0" style="width: 200px; font-size: 2em;">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="backbtn"
                                data-bs-dismiss="modal">閉じる</button>
                            <button type="submit" class="btn btn-primary">送信</button>
                        </div>
                        </form>
                        <!-- /.modal-footer -->
                    </div>
                </div>
            </div>
            <script src="/node_modules/jquery/dist/jquery.min.js"></script>
            <script src="/public/javascripts/function/judgeFunc/judge_name.js"></script>
            <script>
                const obj = (x) => document.getElementById(x);
                const player_id = obj('player_id').value;
                const category_id = obj('cate_id').value;
                const kind_num = obj('kind_num').value;
                const game_id = obj('game_id').value
                const gameroom = 'game' + game_id;
            </script>
            <script src="/public/javascripts/function/socket_top.js"></script>
            <script src="/public//javascripts/function/topFunc/topScoreFunc/top_jquery.js"></script>
            <script src="/public//javascripts/function/topFunc/topScoreFunc/top_score_socket.js"></script>
            <script src="/public/javascripts/function/formula.js"></script>
            <script src="/public/javascripts/function/topFunc/order_score_table.js"></script>
            <script src="/public/javascripts/function/topFunc/topScoreFunc/top_resFunc.js"></script>
            <script src="/public/javascripts/function/callFunc.js"></script>
    </body>

    </html>