<% var games; %>
    <!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <title>RGmen管理者用</title>
        <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
        <%- include('../share/stylesheet.ejs') %>
            <script type="text/javascript" src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <style>
                .slategray {
                    background-color: #708090;
                }
            </style>
    </head>

    <body>
        <%- include("../share/navber.ejs"); %>
            <div class="container-fluid">
                <div class="row">
                    <%- include("../share/sideber.ejs") %>
                        <main class=" ms-sm-auto col-xl-10 col-lg-12 col-md-12 col-xs-12">
                            <div class="mt-2 mb-3">
                                <div class="card fontBK col-lg-10 col-xl-10 col-lg-12 col-md-12 col-xs-12">
                                    <div class="card-header">
                                        <div class="text-center">管理試合

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class=" text-center" id="game_name"></div>
                                        <input type="hidden" id="game_id" value="<%= game_id%>">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-3">
                                <div class="card fontBK col-lg-10 col-xl-10 col-lg-12 col-md-12 col-xs-12 text-center">
                                    <div class="card-header">
                                        <div class="text-center">テレビ表示変更</div>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-outline-primary col-3 mb-1" value="1"
                                            onclick="tvGo('1')">開会式</button>
                                        <button type="button" class="btn  btn-outline-warning col-3 mb-1" value="2"
                                            onclick="tvGo('2')">表彰式</button>
                                        <button type="button" class="btn btn-outline-success col-3 mb-1" value="3"
                                            onclick="tvGo('3')">休憩中</button>
                                        <button type="button" class="btn btn-outline-danger col-3" value="4"
                                            onclick="tvGo('4')">競技中</button>
                                        <button type="button" class="btn  btn-outline-secondary col-3" value="5"
                                            onclick="tvGo('5')">採点中</button>
                                        <button type="button" class="btn btn-outline-info col-3" value="6"
                                            onclick="tvGo('6')">協議中</button>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-light" value="7"
                                            onclick="tvGo('7')">defo</button>
                                        <button type="button" class="btn btn-danger" value="7"
                                            onclick="reload()">reload</button>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="card fontBK text-center col-xl-10 col-lg-12 col-md-12 col-xs-12 ">
                                    <div class="card-header">
                                        <h5>socketチェック</h5>
                                        <button type="button" class="btn btn-success col-3 mb-1 me-1" value="100"
                                            onclick="socketCheck('100')" style="width: 23%;">ALL</button>
                                        <button type="button" class="btn btn-outline-secondary col-3 mb-1 me-1"
                                            value="100" onclick="ALLreload()" style="width: 23%;">reload</button>
                                    </div>
                                    <div class="card-body mb-2 ">
                                        <div class="row text-center ps-3">
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="top" value="1" onclick="socketCheck('1')"
                                                style="width: 23%;">TOP</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="program" value="2" onclick="socketCheck('2')"
                                                style="width: 23%;">進行</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="secretary1" value="21" onclick="socketCheck('21')"
                                                style="width: 23%;">sec.</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1"
                                                id="secretary2" value="22" onclick="socketCheck('22')"
                                                style="width: 23%;">sec.2</button>
                                        </div>
                                        <div class="row text-center ps-3">
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="d1" value="51" onclick="socketCheck('51')"
                                                style="width: 23%;">D1</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="d2" value="52" onclick="socketCheck('52')"
                                                style="width: 23%;">D2</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="d3" value="53" onclick="socketCheck('53')"
                                                style="width: 23%;">D3</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1" id="d4"
                                                value="54" onclick="socketCheck('54')" style="width: 23%;">D4</button>
                                        </div>
                                        <div class="row text-center ps-3">
                                            <button type="button" class="btn btn-primary slategray col-6 mb-1 me-1"
                                                id="d_top" value="55" onclick="socketCheck('55')"
                                                style="width: 46.7%;">D主審</button>
                                            <!-- <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1" id="a2" value="42" onclick="socketCheck('42')" style="width: 23%;">A2</button> -->
                                            <button type="button" class="btn btn-primary slategray col-6 mb-1"
                                                id="e_top" value="35" onclick="socketCheck('35')"
                                                style="width: 46.7%;">E主審</button>
                                            <!-- <button type="button" class="btn btn-primary slategray col-3 mb-1" id="a4" value="44" onclick="socketCheck('44')" style="width: 23%;">A4</button> -->
                                        </div>
                                        <div class="row text-center ps-3">
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="e1" value="31" onclick="socketCheck('31')"
                                                style="width: 23%;">E1</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="e2" value="32" onclick="socketCheck('32')"
                                                style="width: 23%;">E2</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="e3" value="33" onclick="socketCheck('33')"
                                                style="width: 23%;">E3</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1" id="e4"
                                                value="34" onclick="socketCheck('34')" style="width: 23%;">E4</button>
                                        </div>
                                        <div class="row text-center ps-3">
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="line1" value="61" onclick="socketCheck('61')"
                                                style="width: 23%;">line1</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="line2" value="62" onclick="socketCheck('62')"
                                                style="width: 23%;">line2</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1 me-1"
                                                id="time" value="71" onclick="socketCheck('71')"
                                                style="width: 23%;">Time</button>
                                            <button type="button" class="btn btn-primary slategray col-3 mb-1" id="res"
                                                value="10" onclick="socketCheck('10')" style="width: 23%;">Res.</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="card fontBK text-center col-xl-10 col-lg-12 col-md-12 col-xs-12 ">
                                    <div class="card-header">
                                        <h5>データリセット</h5>
                                    </div>
                                    <div class="card-body mb-2">
                                        <form action="/admin" method="post" onsubmit="return beforeSubmit()">
                                            <div class="px-2 text-center">
                                                日付を選択してください
                                                <br>
                                                <input type="date" id="game-date" class="form-control form-control-sm"
                                                    style="height: auto;" name="game_date" value="">
                                            </div>
                                            <div id="game" class="px-2 mt-1"></div>
                                            <button type="submit" class="btn btn-danger"
                                                id="resetbtn">スコアデータリセット</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class=" mb-3">
                                <div class="card fontBK text-center col-xl-10 col-lg-12 col-md-12 col-xs-12 ">
                                    <div class="card-header">
                                        <h5>各種設定</h5>
                                    </div>
                                    <div class="card-body mb-2">
                                        <div class="continer">
                                            <ul class="list-group" style="font-size: 1.1em">
                                                <a href="/game" target="_blank">
                                                    <li class="list-group-item list-group-item-action">
                                                        大会登録
                                                    </li>
                                                </a>
                                                <a href="/category" target="_blank">
                                                    <li class="list-group-item list-group-item-action">
                                                        カテゴリー登録
                                                    </li>
                                                </a>
                                                <a href="/entry" target="_blank">
                                                    <li class="list-group-item list-group-item-action">
                                                        選手登録
                                                    </li>
                                                </a>
                                                <a href="/team_entry" target="_blank">
                                                    <li class="list-group-item list-group-item-action">
                                                        選手チーム登録
                                                    </li>
                                                </a>
                                                <a href="/judge_change/<%= game_id %>" target="_blank">
                                                    <li class="list-group-item list-group-item-action">
                                                        審判人数変更
                                                    </li>
                                                </a>
                                                <a href="/player_edit/<%= game_id %>" target="_blank">
                                                    <li class="list-group-item list-group-item-action">
                                                        選手データ編集
                                                    </li>
                                                </a>
                                                <a href="/result/<%= game_id %>" target="_blank">
                                                    <li class="list-group-item list-group-item-action">
                                                        順位決定
                                                    </li>
                                                </a>
                                                <!-- <a href="/finals/<%= game_id %>" target="_blank">
                                                    <li id="final-set" class="list-group-item list-group-item-action">
                                                        決勝進出リスト
                                                    </li>
                                                </a>
                                                <a href="/tv_style_edit" target="_blank">
                                                    <li class="list-group-item list-group-item-action">
                                                        テレビ表示編集
                                                    </li>
                                                </a> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-danger" onclick="audioOk()" id="audio-btn" value="1"
                                            style="background-color: #8a2be2;">
                                            audio-on
                                        </button>
                                        <button class="btn btn-outline-danger" onclick="audio()" id="sound-btn">
                                            audio
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <audio id="btn_audio">
                            <source src="/public/audio/alert_sound.mp3" type="audio/mp3" id="pop-audio" muted="true">
                        </audio>
                </div>
                <%- //include('../share/javascript.ejs'); %>
                    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

                    <script>
                        const obj = (x) => document.getElementById(x)
                        const game_id = obj('game_id').value;
                        const gameroom = 'game' + game_id;

                        $(function () {
                            game_check();
                            joinRoom();
                        });
                        // 試合設定取得
                        function game_check() {
                            $.ajax({
                                url: `/game`,
                                type: 'post',
                                catch: false,
                                dataType: 'json',
                                data: {
                                    game_id: game_id
                                }
                            })
                                .done(function (data) {
                                    obj('game_name').innerHTML = data[0].game_name;
                                    if (data[0].finals) {

                                    }
                                })
                                // Ajaxリクエストが失敗した場合
                                .fail(function () {
                                    window.alert('正しい結果を得られませんでした。');
                                });
                        }

                        $('#game-date').change(function () {
                            var date_data = $(this).val();
                            $.ajax({
                                url: '/entry/1',
                                type: 'post',
                                catch: false,
                                dataType: 'json',
                                data: {
                                    game_date: date_data
                                }
                            })
                                .done(function (data) {
                                    var game = obj('game');
                                    if (data[0].game_id == 0) {
                                        game.innerHTML = data[0].text_data;
                                    } else {
                                        game.innerHTML = '<p class="my-1">試合を選択してください</p>'
                                        var select = document.createElement('select')
                                        select.classList.add('form-control', 'form-control-sm', 'form-select');
                                        select.setAttribute('name', 'game_id')
                                        select.setAttribute('id', 'game_id');
                                        for (var i = 0; i < data.length; i++) {
                                            var option = document.createElement('option');
                                            option.value = data[i].game_id;
                                            option.textContent = data[i].game_name;
                                            select.appendChild(option);
                                        }
                                        game.appendChild(select);
                                    }
                                })
                                // Ajaxリクエストが失敗した場合
                                .fail(function () {
                                    window.alert('正しい結果を得られませんでした。');
                                });
                        })



                        function beforeSubmit() {
                            if (window.confirm('大会データをリセットしてもよろしいですか？')) {
                                return true;
                            } else {
                                window.alert('キャンセルしました。')
                                return false;
                            }
                        }
                    </script>
                    <script src="/public/javascripts/function/socket_top.js"></script>
                    <script>
                        socket.on("connect", () => {
                            joinRoom();
                        });
                        socket.on("connect_error", () => {
                            setTimeout(() => {
                                socket.connect();
                            }, 1000);
                        });
                        socket.on("disconnect", (reason) => {
                            console.log(reason);
                            socket.emit('err', {
                                reason
                            })
                            setTimeout(() => {
                                socket.connect();
                            }, 1000);
                        });

                        function joinRoom() {
                            let judgeroom = 'admin'
                            let judgetyperoom = 'type:admin';

                            socket.emit('room-in', {
                                gameroom,
                                judgeroom,
                                judgetyperoom
                            })
                        }

                        function reload() {
                            socket.emit('reload')
                        }

                        function ALLreload() {
                            socket.emit('judgeReload');
                        }

                        function tvGo(a) {
                            var sel = a;
                            socket.emit('tv-go', {
                                sel
                            })
                        }

                        socket.on('btn-push', function () {
                            socketCheck('100');
                        })

                        function socketCheck(val) {
                            var judge = val;
                            if (val == 100) {
                                var alljudge = document.getElementsByClassName('slategray');
                                for (var i = 0; i < alljudge.length; i++) {
                                    alljudge[i].style.backgroundColor = '';
                                }
                            }
                            socket.emit('check-go', {
                                judge
                            }, gameroom)
                        }
                        socket.on('check-return', function (msg) {
                            console.log(msg)
                            var area = judge_id(msg.judge)
                            var btns = obj(`${area}`);
                            btns.style.backgroundColor = '#0000cd';
                        })
                        socket.on('call', async function (msg) {
                            var calls = judgeName(msg.judge);
                            audio();
                            obj('sound-btn').click();

                            setTimeout(() => {
                                neoalert(calls)
                            }, 100)
                        });

                        function neoalert(x) {
                            window.alert(x + "が呼んでいます。")
                        }

                        function audioOk() {
                            let btn = obj('audio-btn');
                            if (btn.value == 1) {
                                obj('sound-btn').click();
                                obj('pop-audio').muted = false;
                                btn.innerHTML = 'audio-off';
                                btn.value = 2;
                                btn.style.backgroundColor = '#696969';
                            } else {
                                btn.innerHTML = 'audio-on';
                                obj('pop-audio').muted = true;
                                btn.value = 1;
                                btn.style.backgroundColor = '#8a2be2';
                            }

                        }

                        function audio() {
                            // document.getElementById('pop-audio').muted = false;
                            obj('btn_audio').currentTime = 0; //連続クリックに対応
                            if (obj('pop-audio').muted == false) {
                                obj('btn_audio').play(); //クリックしたら音を再生
                            }
                        }

                        // 送信された審判の判定
                        function judge_id(val) {
                            var judge_colum;
                            switch (val) {
                                case '10':
                                    judge_colum = 'res';
                                    break;
                                case '21':
                                    judge_colum = 'secretary1';
                                    break;
                                case '22':
                                    judge_colum = 'secretary2';
                                    break;
                                case '31':
                                    judge_colum = 'e1';
                                    break;
                                case '32':
                                    judge_colum = 'e2';
                                    break;
                                case '33':
                                    judge_colum = 'e3';
                                    break;
                                case '34':
                                    judge_colum = 'e4';
                                    break;
                                case '35':
                                    judge_colum = 'e_top';
                                    break;
                                case '41':
                                    judge_colum = 'a1';
                                    break;
                                case '42':
                                    judge_colum = 'a2';
                                    break;
                                case '43':
                                    judge_colum = 'a3';
                                    break;
                                case '44':
                                    judge_colum = 'a4';
                                    break;
                                case '51':
                                    judge_colum = 'd1';
                                    break;
                                case '52':
                                    judge_colum = 'd2';
                                    break;
                                case '53':
                                    judge_colum = 'd3';
                                    break;
                                case '54':
                                    judge_colum = 'd4';
                                    break;
                                case '55':
                                    judge_colum = 'd_top';
                                    break;
                                case '61':
                                    judge_colum = 'line1';
                                    break;
                                case '62':
                                    judge_colum = 'line2';
                                    break;
                                case '71':
                                    judge_colum = 'time';
                                    break;
                                case '1':
                                    judge_colum = 'top';
                                    break;
                                case '2':
                                    judge_colum = 'program';
                                    break;

                            }
                            return judge_colum;
                        }
                    </script>
                    <script src="/public/javascripts/function/judgeFunc/judge_name.js"></script>
    </body>

    </html>