<% var games; %>
  <!DOCTYPE html>
  <html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部門管理</title>
    <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
    <%- include('../share/stylesheet.ejs') %>
      <script type="text/javascript" src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
      <style>
        .admincard {
          width: 80%;
          color: black;
        }

        input {
          height: auto;
          font-size: 1em;
        }
      </style>
  </head>

  <body>
    <%- include("../share/navber.ejs"); %>
      <div class="container-fluid">
        <div class="row">
          <%- include("../share/sideber.ejs") %>
            <main class="col-md-10 ms-sm-auto col-lg-10 px-md-2">
              <div class="row mb-3">
                <div class="card mx-auto mt-2 admincard px-0">
                  <div class="card-header text-start">
                    <div class="row">
                      <p class="fw-bold">カテゴリー作成</p>
                      <div class="col-12 text-end">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" name="setselect" type="radio" id="insert" value="2" checked />
                          <label class="form-check-label" for="insert">INSERT</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" name="setselect" type="radio" id="update" value="1" />
                          <label class="form-check-label" for="update">UPDATE</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-group mt-2">
                          <span class="input-group-text" id="gameDateLavel">試合日</span>
                          <input type="date" class="form-control" name="gameDate" id="game-date"
                            aria-describedby="gameDateLavel" />
                        </div>
                        <div id="gameCheck" class="mt-1"></div>
                      </div>
                      <div class="col-12 mt-2" id="datefield"></div>
                    </div>
                    <span class="fw-bold" id="text">
                      <% var text; %>
                        <%= text %>
                    </span>
                  </div>
                  <div class="card-body">
                    <form action="/category" method="post">
                      <input type="hidden" name="sql" value="insert" id="sql" />
                      <input type="hidden" name="data_id" value="" id="data_id" />
                      <p class="fw-bold">各種必要事項を入力してください。</p>
                      <div class="mb-3">
                        <label for="game_id" class="form-label">game_id</label>
                        <input type="number" class="form-control" name="game_id_field" id="game_id_field"
                          placeholder="game_id" readonly />
                      </div>
                      <div class="mb-3">
                        <label for="category_id_field" class="form-label">category_id</label>
                        <input type="number" class="form-control" name="category_id_field" id="category_id_field"
                          placeholder="category_id" readonly />
                      </div>
                      <div class="mb-3">
                        <label for="category_name" class="form-label">カテゴリー名</label>
                        <input type="text" class="form-control" name="category_name" id="category_name"
                          placeholder="正確なカテゴリー名を登録してください" />
                      </div>


                      <div class="ms-2 ps-5 mb-3">
                        <div class="mb-1">
                          <p class="">種目選択</p>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" value="1" id="kind1" name="kind1" />
                          <label class="form-check-label" for="kind1">
                            <span id="kind1name">スティック</span>
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" value="1" id="kind2" name="kind2" />
                          <label class="form-check-label" for="kind2">
                            <span id="kind2name">リング</span>
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" value="1" id="kind3" name="kind3" />
                          <label class="form-check-label" for="kind3">
                            <span id="kind3name">ロープ</span>
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" value="1" id="kind4" name="kind4" />
                          <label class="form-check-label" for="kind4">
                            <span id="kind4name">クラブ</span>
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" value="1" id="kind5" name="kind5" />
                          <label class="form-check-label" for="kind5">
                            <span id="kind5name">団体1</span>
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" value="1" id="kind6" name="kind6" />
                          <label class="form-check-label" for="kind6">
                            <span id="kind6name">団体2</span>
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" value="1" id="kozin" name="kozin" />
                          <label class="form-check-label" for="kozin">
                            <span id="kozinname">個人総合</span>
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" value="1" id="kokutai" name="kokutai" />
                          <label class="form-check-label" for="kokutai">
                            <span id="kokutainame">国体</span>
                          </label>
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="category_name" class="form-label">プログラムナンバー</label>
                        <input type="number" class="text-center form-control" name="program_number" id="program_number"
                          placeholder="" step="1" style="width: 50%;" />
                      </div>

                      <div class="mb-3 ps-5">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="1" id="tv_category"
                            name="tv_category" />
                          <label class="form-check-label" for="tv_category">
                            <span>テレビカテゴリー表示</span>
                          </label>
                        </div>
                      </div>
                      <div class="mb-3 ps-5">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="1" id="tv_age" name="tv_age" />
                          <label class="form-check-label" for="tv_age">
                            <span>テレビ年齢表示</span>
                          </label>
                        </div>
                      </div>
                      <div class="mb-3 ps-5">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="1" id="special" name="special" />
                          <label class="form-check-label" for="special">
                            <span>特殊ルール1</span>
                          </label>
                        </div>
                      </div>
                      <div class="d-grid mb-2">
                        <button type="submit" class="btn btn-primary">送信</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
        </main>
      </div>
      <%- //include('../share/javascript.ejs'); %>
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script>
          const obj = (x) => document.getElementById(x);
          const categoryBody = obj('category-input');
          const game = obj('gameCheck');
          const catefield = obj('datefield')
          const gamefield = obj('game_id_field')
          const categoryfield = obj('category_id_field')
          const tex = obj('text');
          $('#game-date').change(function () {
            game.innerHTML = '';
            catefield.innerHTML = '';
            tex.innerHTML = '';
            categoryfield.value = '';
            gamefield.value = '';
            var date_data = $(this).val();
            $.ajax({
              url: '/category/0',
              type: 'post',
              catch: false,
              dataType: 'json',
              data: {
                game_date: date_data
              }
            })
              .done(function (data) {
                if (data[0].game_id == 0) {
                  game.innerHTML = data[0].text_data;
                } else {
                  var select = document.createElement('select')
                  select.classList.add('form-control', 'form-control-sm');
                  select.setAttribute('name', 'game_id')
                  select.setAttribute('id', 'game_id')
                  var option = document.createElement('option');
                  option.value = '';
                  option.textContent = '選択してください。';
                  select.appendChild(option);
                  for (var i = 0; i < data.length; i++) {
                    var option = document.createElement('option');
                    option.value = data[i].game_id;
                    option.textContent = data[i].game_name;
                    select.appendChild(option);
                  }
                  game.appendChild(select);
                }
              })
              // Ajaxリクエストが失敗した場合
              .fail(function () {
                window.alert('正しい結果を得られませんでした。');
              });
          })

          $(document).on('change', '#game_id', function () {
            var id = $(this).val();
            if (id > 0) {
              gamefield.value = id;
              $.ajax({
                url: `/category/${id}`,
                type: 'post',
                catch: false,
                dataType: 'json',
                data: {
                  game_id: id
                }
              })
                .done(function (data) {
                  var select = document.createElement('select')
                  select.classList.add('form-control', 'form-control-sm');
                  select.setAttribute('name', 'category_id')
                  select.setAttribute('id', 'category_id')
                  var option = document.createElement('option');
                  option.value = '';
                  if (data[0].game_id == 0) {
                    option.textContent = 'まだカテゴリーの登録がありません。';
                  } else {
                    option.textContent = 'カテゴリーを選択してください。';
                  }
                  select.appendChild(option);
                  if (data[0].game_id > 0) {
                    for (var i = 0; i < data.length; i++) {
                      var option = document.createElement('option');
                      option.value = data[i].category_id;
                      option.textContent = data[i].category_name;
                      select.appendChild(option);
                    }
                  }
                  catefield.appendChild(select);
                })
                // Ajaxリクエストが失敗した場合
                .fail(function () {
                  window.alert('正しい結果を得られませんでした。');
                });
            } else {
              game.innerHTML = '';
              catefield.innerHTML = '';
              categoryfield.value = '';
              gamefield.value = '';
            }
          })
          $(function () {
            $('input[name="setselect"]:radio').change(function () {
              var radioval = $(this).val();
              if (radioval == 1) {
                $("#datefield").show();
                obj("sql").value = "update";
              } else {
                $("#datefield").show();
                obj("sql").value = "insert";
                categoryfield.value = ''
              }
            });
          });
          $(document).on("change", "#category_id", function () {
            var category_id = $(this).val();
            if (category_id == "") {
              $("input[name=setselect]:eq(0)").prop("checked", true);
              obj("sql").value = "insert";
            } else {
              $("input[name=setselect]:eq(1)").prop("checked", true);
              obj("sql").value = "update";
            }
            if (category_id > 0) {
              categoryfield.value = category_id;
              $.ajax({
                url: `/category/${category_id}`,
                type: "get",
                catch: false,
                dataType: "json",
              })
                .done(function (data) {

                  obj("category_id_field").value = category_id;
                  obj("category_name").value = data[0].category_name || null;

                  if (data[0].kind1 == 1) {
                    $("#kind1").prop("checked", true);
                  } else {
                    $("#kind1").prop("checked", false);
                  }
                  if (data[0].kind2 == 1) {
                    $("#kind2").prop("checked", true);
                  } else {
                    $("#kind2").prop("checked", false);
                  }
                  if (data[0].kind3 == 1) {
                    $("#kind3").prop("checked", true);
                  } else {
                    $("#kind3").prop("checked", false);
                  }
                  if (data[0].kind4 == 1) {
                    $("#kind4").prop("checked", true);
                  } else {
                    $("#kind4").prop("checked", false);
                  }
                  if (data[0].kind5 == 1) {
                    $("#kind5").prop("checked", true);
                  } else {
                    $("#kind5").prop("checked", false);
                  }
                  if (data[0].kind6 == 1) {
                    $("#kind6").prop("checked", true);
                  } else {
                    $("#kind6").prop("checked", false);
                  }
                  if (data[0].kozin == 1) {
                    $("#kozin").prop("checked", true);
                  } else {
                    $("#kozin").prop("checked", false);
                  }
                  if (data[0].kokutai == 1) {
                    $("#kokutai").prop("checked", true);
                  } else {
                    $("#kokutai").prop("checked", false);
                  }
                  obj('program_number').value = data[0].program_number;
                  if (data[0].special == 1) {
                    $("#special").prop("checked", true);
                  } else {
                    $("#special").prop("checked", false);
                  }
                  if (data[0].tv_wrap == 1) {
                    $("#tv_wrap").prop("checked", true);
                  } else {
                    $("#tv_wrap").prop("checked", false);
                  }


                })
                // Ajaxリクエストが失敗した場合
                .fail(function () {
                  window.alert("正しい結果を得られませんでした。");
                });
            }
          });
        </script>
  </body>

  </html>