<nav id="sidebar" class="col-md-2 col-lg-2 d-xl-block bg-light sidebar collapse">
    <div class="position-sticky pt-md-2 px-2 container fontBK">
        <ul class="nav flex-column">
            <input type="hidden" name="" id="judge" value="<%= judge %>">
            <input type="hidden" id="game" value="<%= game_id %>">
            <input type="hidden" id="special" value="">
            <span id="err"></span>

            <div class="card" style="height: 100vh; width: 100%;">
                <ul class="nav nav-tabs" id="nav-ul">
                    <li class="nav-item" id="nav1">
                        <a href="#kind1" class="nav-link p-2" data-bs-toggle="tab" onclick="tabChange(1,'<%= game_id %>','<%= judge %>',cate_get())"><img src="/public/img/stick.png" style="height: 30px; width: 30px;"></a>
                    </li>
                    <li class="nav-item" id="nav2">
                        <a href="#kind2" class="nav-link p-2" data-bs-toggle="tab" onclick="tabChange(2,'<%= game_id %>','<%= judge %>',cate_get())"><img src="/public/img/ring.png" style="height: 30px; width: 30px;"></a>
                    </li>
                    <li class="nav-item" id="nav3">
                        <a href="#kind3" class="nav-link p-2" data-bs-toggle="tab" onclick="tabChange(3,'<%= game_id %>','<%= judge %>',cate_get())"><img src="/public/img/rope.png" style="height: 30px; width: 30px;"></a>
                    </li>
                    <li class="nav-item" id="nav4">
                        <a href="#kind4" class="nav-link p-2" data-bs-toggle="tab" onclick="tabChange(4,'<%= game_id %>','<%= judge %>',cate_get())"><img src="/public/img/clab_men.png" style="height: 30px; width: 30px;"></a>
                    </li>
                    <li class="nav-item" id="nav5">
                        <a href="#kind5" class="nav-link p-2" data-bs-toggle="tab" onclick="tabChange(5,'<%= game_id %>','<%= judge %>',cate_get())"><img src="/public/img/dantai.png" style="height: 30px; width: 30px;"></a>
                    </li>
                    <li class="nav-item" id="nav6">
                        <a href="#kind6" class="nav-link p-2" data-bs-toggle="tab" onclick="tabChange(6,'<%= game_id %>','<%= judge %>',cate_get())">mix</a>
                    </li>
                    <li class="nav-item" id="nav7">
                        <a href="#kind7" class="nav-link p-2" data-bs-toggle="tab" onclick="tabChange(7,'<%= game_id %>','<%= judge %>',cate_get())"><img src="/public/img/toshu.png" style="height: 30px; width: 30px;"></a>
                    </li>
                    <li class="nav-item" id="nav8">
                        <a href="#kind8" class="nav-link p-2" data-bs-toggle="tab" onclick="tabChange(8,'<%= game_id %>','<%= judge %>',cate_get())">国体</a>
                    </li>
                </ul>
                <div class="tab-content ps-2" id="tab-body" style="overflow-y: scroll; padding-bottom: 200px;">
                    <div class="tab-pane" id="defo">
                        <li>種目を選択してください</li>
                    </div>
                    <div class="tab-pane" id="kind1">
                    </div>
                    <div class="tab-pane" id="kind2">
                    </div>
                    <div class="tab-pane" id="kind3">
                    </div>
                    <div class="tab-pane" id="kind4">
                    </div>
                    <div class="tab-pane" id="kind5">
                    </div>
                    <div class="tab-pane" id="kind6">
                    </div>
                    <div class="tab-pane" id="kind7">
                    </div>
                    <div class="tab-pane" id="kind8">
                    </div>
                </div>
            </div>
        </ul>
    </div>
</nav>